@charset "UTF-8";

font-family: 'Bebas Neue', sans-serif;
font-family: 'Passion One', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Sriracha', cursive;

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html{
    background-color: rgb(240, 128, 128);
    background-size: var(lightcoral, salmon);
}

header{
    background-color: lightcoral;
}

header> h1{
    padding: 10px;
    text-align: center;
}

span#burguer{
    background-color: lightcoral;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

span#burguer:hover{
    background-color: white;
    color: lightcoral;
}

menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgba(207, 102, 90, 0.521);
    box-shadow: 20px;
    color: white;
    border-top: 2px solid rgba(99, 30, 5, 0.829);
    border-radius: 10px;
    
}

menu a:hover{
    background-color: rgba(168, 72, 72, 0.055);
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article >h1{
    padding-bottom: 20px;
}

article >p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}